@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('./img/espaco.jpg');
    position: relative;
    height: 96vh;
}

img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 250px;
    max-height: 300px;
}